*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

figure {
    margin: 0;
}

ul {
    margin-bottom: 0;
    padding-left: 16px;
}

a {
    color: black; 
    text-decoration: underline;
}

summary {
    list-style: none;
    cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}